extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  include /module/dot
  .title
    h1
      span.baskerville A
      span.baskerville &
      span.baskerville K
      span.mincho 展
    p.avenir - AZUSA and KOHJUN -
  .date
    p 2018年9月28日(金)〜10月2日(火)
    p AM 11:00〜PM 6:00  (最終日はPM 5:00まで)
  include /module/place
  img.mainimg(src="/img/main_img.jpg" alt="img")
  .text.js-scroll__show.scroll__show
    p.mincho
      | 版画家・父　奥村弘潤  
      br
      | ペン画・娘　奥村あづさ
      br
      br
      | 親子での初の展示になります。
      br
      br
      | 秋口の短い期間での開催となりますが、
      br
      | 賑わいの南京町で
      br
      | ぜひごゆっくりお楽しみください。
  .js-scroll__show.scroll__show
    +dot(3)
  .intro.intro1.js-scroll__show.scroll__show
    .intro__thumb
      h2.baskerville K
      p.avenir KOHJUN OKUMURA
    .intro__main
      .intro__name
        span.mincho 版画家
        p.mincho 奥村弘潤
      .intro__text.mincho
        p
          | 1947　京都生まれ
          br
          |1983~1992　「刀の会」出品（関西木版画集団）
          br
          |1984　日本版画院展　奨励賞（東京都美術館）
          br
          |　　　　個展（京都・平安画廊）
          br
          |1987~1998　インド旅行（'93, '96）
          br
          |　　　　　　　日本版画院　同人
          br
          |　　　　　　　木版画八人集・九人集（'92, '95）
          br
          |1989~1994　版画集「版の世界Ⅰ〜Ⅶ」発行参加
          br
          |1992　バンスカ国際木版画ビエンナーレ展（チェコスロバキア）
          br
          |1993~1994　日本版画院 審査委員（'97~'98, '00~'02, '06~'07）
          br
          |1996~1999　日本版画院理事
          br
          |1997~1999　木版画頒布会「インドスケッチブック」
          br
          |2000　版画集「版の世界・外伝」発行参加
          br
          |2001　日本版画院　審査委員長
          br
          |　　　現代日本版画展（メキシコ）
          br
          |2002　カサ・ディエゴリベラ美術館作品収蔵（メキシコ）
          br
          |2006　版の世界（東京・ギャラリー　アーチストスペース）
          br
          |2007~　カダケス国際ミニ版画展（スペイン）
          br
          |2008　木版画四人展（京都・ギャラリー佐野）
          br
          |　　　　日本版画院展　棟方志功賞（東京都美術館）
          br
          |2018　日本版画院　脱退
  .intro.intro2.js-scroll__show.scroll__show
    .intro__thumb
      h2.baskerville A
      p.avenir AZUSA OKUMURA
    .intro__main
      .intro__name
        span.mincho ペン画
        p.mincho 奥村あづさ
      .intro__text.mincho
        p
          | 金沢美術工芸大学 視覚デザイン科卒業後、凸版印刷に入社。
          br
          | 2016年に退社し、フリーとなる。
          br
          | 現在は北海道に拠点を置き活動中。
          br
          | 1990   京都生まれ
          br
          | 2010~2014   金沢美術工芸大学 視覚デザイン科
          br
          | 2011   グループ展 「からだだから」(金沢)
          br
          | 2013   KONICA MINOLTA eco&art AWARD 入選
          br
          | 2014   金沢美術工芸大学 卒業制作展(金沢・21世紀美術館)
          br
          | 2016   北海道へ移住
          br
          | 2017   北海道千歳基地開庁60周年 F-15記念塗装機 デザイン
          br
          | 2018   Jimnyworks より「EZONIMAL」リリース
          br
  .js-scroll__show.scroll__show
    +dot(3)
  .access.js-scroll__show.scroll__show
    p.baskerville ACCESS
    include /module/place
    p.mincho 〒650-0023　神戸市中央区栄町通2-8-10
    p.mincho TEL　078-332-0628　TEL・FAX　078-331-3387
    .access__map#map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d820.1718226684434!2d135.1870148292479!3d34.68784099877736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60008efd9d68e243%3A0x626fb8e3a256567!2z5Y2X5Lqs55S644Ku44Oj44Op44Oq44O86J225bGL!5e0!3m2!1sja!2sjp!4v1533367992791" width="680" height="165" frameborder="0" style="border:0" allowfullscreen)
    p.copy.mincho Copyright ©︎ 2018 A&K Okumura